@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffcc00; 
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-links {
    display: flex; 
    justify-content: space-around; 
    list-style-type: none;
    padding: 0;
}

.footer-links .footer-link {
    color: #fff; 
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease; 
}

.footer-links .footer-link:hover {
    color: #ffcc00; 
}

/* Styles for forms and text boxes */

.form-group {
    margin-bottom: 20px; /* Adjust spacing between form elements */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical; /* Allow textarea to be resized vertically */
}

button[type="submit"],
button[type="button"],
input[type="submit"],
input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button[type="button"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #0056b3;
}